@font-face {
  font-family: 'NimbusSanNov';
  src: url('../fonts/NimbusSanNovReg/NimbusSanNovReg.eot');
  src: url('../fonts/NimbusSanNovReg/NimbusSanNovReg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NimbusSanNovReg/NimbusSanNovReg.woff') format('woff'),
  url('../fonts/NimbusSanNovReg/NimbusSanNovReg.ttf')  format('truetype'),
  url('.../fonts/NimbusSanNovReg/NimbusSanNovReg.svg#NimbusSanNov') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NimbusSanNov';
  src: url('../fonts/NimbusSanNovMed/NimbusSanNovMed.eot');
  src: url('../fonts/NimbusSanNovMed/NimbusSanNovMed.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NimbusSanNovMed/NimbusSanNovMed.woff') format('woff'),
  url('../fonts/NimbusSanNovMed/NimbusSanNovMed.ttf')  format('truetype'),
  url('../fonts/NimbusSanNovMed/NimbusSanNovMed.svg#NimbusSanNovMed') format('svg');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'NimbusSanNov';
  src: url('../fonts/NimbusSanNovSemBol/NimbusSanNovSemBol.eot');
  src: url('../fonts/NimbusSanNovSemBol/NimbusSanNovSemBol.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NimbusSanNovSemBol/NimbusSanNovSemBol.woff') format('woff'),
  url('../fonts/NimbusSanNovSemBol/NimbusSanNovSemBol.ttf')  format('truetype'),
  url('../fonts/NimbusSanNovSemBol/NimbusSanNovSemBol.svg#NimbusSanNovSemBol') format('svg');
  font-style: normal;
  font-weight: 700;
}

body {
  color: white;
  -webkit-font-smoothing: antialiased;
  background-color: #2b2a29;
  font-family: Arial, 'sans-serif';
}

html, body {
  height: 100%;
}

nav {
  padding: 30px 0;
  background: rgba(43,42,41,1);

}

nav a {
  color: white;
  font-size: 25px;
}

nav li {
  display: inline-block;
  margin: 0 30px;
  vertical-align: middle;
}

nav .help {
  width: 200px;
}

nav .help a {
  font-size: 18px;
}

nav .vk, nav .vb {
  width: 30px;
  height: 30px;
}

nav .vk a, nav .vb a {
  width: 30px;
  height: 30px;
  display: block;
}

nav .vb {
  margin-left: 0;
}

nav .vb, nav .vb a {
  width: 34px;
  height: 34px;
}

nav a:hover {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  color: #e31e24;
  text-align: center;
  transform: scaleX(0.7);
}

h2 {
  font-size: 25px;
  font-weight: normal;
  margin: 35px auto;
  text-align: center;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  text-align: center;
}

.content {
  width: 1042px;
  position: relative;
  padding-top: 156px;
  z-index: 1;
  margin: 0 auto;
  padding-bottom: 50px;
}

.point {
  width: 100%;
  position: relative;
  height: 160px;
  background: url("../img/arrow.png") no-repeat center;
  background-size: 710px;
  margin-top: 30px;
}

.point .img-l {
  position: absolute;
  top: 7px;
  left: 0;
}


.point .img-r {
  position: absolute;
  top: 7px;
  right: 0;
}

.block {
  border: 1px dashed black;
  width: 900px;
  background-color: white;
  margin: 300px auto;
  padding: 60px;
  color: black;
  box-sizing: border-box;
  line-height: 24px;
}

.block img {
  vertical-align: middle;
}

.block ol {
  list-style-type: decimal;
}

.block li + li {
  margin-top: 30px;
}

.point img {
  width: 150px;
}

.block a {
  color: black;
  text-decoration: underline;
}

.block a:hover {
  text-decoration: none;
}

.point p {
  font-size: 16px;
  padding: 39px 180px 0 180px;
  line-height: 22px;
  color: black;
  width: 560px;
}
.banner {
  width: 100%;
}

.banner img {
  margin: 0 auto;
}