  body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.jumbotron {
  background-image: url("../img/pexels-photo-682078.jpeg");
  background-size: cover;
  color: white;
  padding: 130px;
  border-radius: 0;
}

.fa-question-circle-o {
  color: #155724;
  margin-top: 50px;
  font-size: 150px;
}

.progress {
  font-size: 20px;
  height: 30px;
  border-radius: 0;
  margin-bottom: 5px;
}

.nav-link {
  color: white !important;
}

.active .nav-link {
  font-weight: bold;
  text-decoration: underline;
}

.big-icon {
  font-size: 100px;
}

@media (max-width: 1325px) {
  .hidden-md-down {
    display: none;
  }
}

.text-important {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5-
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 23px;
  }
}

.pay-btn {
  padding: 10px;
  border-radius: 3px;
  background-color: #ffdb4d;
  transition: background-color .1s ease-out 0s;
  border: 1px solid rgba(0, 0, 0, .1);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 56px;
  width: 200px;
  line-height: 2.0625rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.pay-btn:hover {
  background-color: #ffbb4d;
}

.petitions-img {
  width: 75%;
}
